@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input {
    @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 w-44;
  }

  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  .heading-2 {
    @apply text-2xl font-semibold mb-3;
  }
}
